<h2>Template: <small>Dinamicos</small></h2>
<hr>
<form #formulario="ngForm">
  <!-- Nombre -->
  <div class="row mb-3">
    <label for="" class="col-sm-3 col-form-label">Nombre</label>
    <div class="col-sm-9">
      <input type="text" class="form-control" placeholder="Nombre de la persona" name="nombre" [ngModel]="persona.nombre" required>
      <span class="form-text text-danger" *ngIf="formulario.controls['nombre']?.invalid && formulario.controls['nombre']?.touched ">Este campo el obligatorio</span>
    </div>
  </div>
  <!-- agregar -->
  <div class="row mb-3">
    <label for="" class="col-sm-3 col-form-label">Agregar</label>
    <div class="col-sm-9">
      <div class="input-group">
        <!-- metodo keyup.enter sirve para darle enter en el input y ejecutar un metodo-->
        <input type="text" class="form-control" placeholder="Agregar Favorito" name="nuevoJuego" [(ngModel)]="nuevoJuego" (keyup.enter)="agregar()">
        <button class="btn btn-outline-primary" type="button" (click)="agregar()">Agregar</button>
      </div>
    </div>
  </div>
   <!-- Lista de juegos favoritos -->
   <div class="row mb-3">
    <label for="" class="col-sm-3 col-form-label">Favoritos</label>
    <div class="col-sm-9">
      <div class="input-group mb-1" *ngFor="let juego of persona.favoritos; let i = index">
      <!-- se pone el nombre de esta forma name="juego{{i}}" para que no repita el input con el mismo valor ya que el name siempre sera diferente -->
      <input  [(ngModel)]="juego.nombre" name="juego{{i}}" type="text" class="form-control" required>
      <button class="btn btn-outline-danger" type="button" (click)="eliminar(i)">Eliminar</button>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <button (click)="guardar()" class="btn btn-primary float-end" [disabled]="formulario.invalid">Guardar</button>
    </div>
  </div>
</form>

<span>Persona</span>
<pre>{{persona | json}}</pre>
