<h2>Template</h2>
<hr />
<ul class="list-group">
  <li
    class="list-group-item"
    [routerLink]="[item.ruta]"
    routerLinkActive="active"
    *ngFor="let item of menuTemplate"
  >
    {{ item.texto }}
  </li>
</ul>

<h2 class="mt-3">Reactive</h2>
<hr />
<ul class="list-group">
  <li
    class="list-group-item"
    [routerLink]="[item.ruta]"
    routerLinkActive="active"
    *ngFor="let item of MenuReactive"
  >
    {{ item.texto }}
  </li>
</ul>

<h2 class="mt-3">Validaciones</h2>
<hr />
<ul class="list-group">
  <li
    class="list-group-item"
    [routerLink]="[item.ruta]"
    routerLinkActive="active"
    *ngFor="let item of AuthMenu"
  >
    {{ item.texto }}
  </li>
</ul>
