<h2>Template Basicos</h2>
<hr>
<div class="row">
  <div class="col">
    <form [formGroup]="miFormulario" (ngSubmit)="guardar()">
      <!-- Campo de producto-->
      <div class="mb-3 row">
        <label for="" class="col-sm-3 col-form-label">Producto</label>
        <div class="col-sm-9">
          <input type="text" class="form-control" placeholder="Nombre del producto"
            minlength="3" formControlName="nombre">
          <span class="form-text text-danger" *ngIf="campoNoValido('nombre')">Debe de ser
            de 3 letras</span>
        </div>
      </div>
      <!-- Campo de precio-->
      <div class="mb-3 row">
        <label for="" class="col-sm-3 col-form-label">Precio</label>
        <div class="col-sm-9">
          <input type="number" class="form-control" placeholder="Precio del producto" formControlName="precio" >
          <span class="form-text text-danger" *ngIf="campoNoValido('precio')">El precio debe ser 0 o mayor</span>
        </div>
      </div>
      <!-- Campo de existencias-->
      <div class="mb-3 row">
        <label for="" class="col-sm-3 col-form-label">Existencias</label>
        <div class="col-sm-9">
          <input type="number" class="form-control" placeholder="Existencias del producto" formControlName="existencias">
          <span class="form-text text-danger" *ngIf="campoNoValido('existencias')"
            >El dato debe ser 0 o mayor</span>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <button type="submit" class="btn btn-primary float-end">Guardar</button>
        </div>
      </div>

    </form>
  </div>
</div>
<div class="row">
  <div class="col">
    <span>Valid</span>
    <pre>{{miFormulario.valid}}</pre>

    <span>Pristine</span>
    <pre>{{miFormulario.pristine}}</pre>

    <span>Touched</span>
    <pre>{{miFormulario.touched}}</pre>

    <span>Value</span>
    <pre>{{miFormulario.value | json}}</pre>
  </div>
</div>
