<h2>Template Basicos</h2>
<hr>
<div class="row">
  <div class="col">
    <form (ngSubmit)="guardar()" #miFormulario="ngForm">
      <!-- Campo de producto-->
      <div class="mb-3 row">
        <label for="" class="col-sm-3 col-form-label">Producto</label>
        <div class="col-sm-9">
          <input type="text" class="form-control" placeholder="Nombre del producto" name="producto" ngModel required
            minlength="3">
          <!-- Se Puede hacer la validacion del lado del formulario: ejemplo -->
          <!-- <span class="form-text text-danger"
            *ngIf="miFormulario.controls['producto']?.invalid && miFormulario.controls['producto']?.touched">Debe de ser
            de 3 letras</span> -->
            <!-- Validación del lado del ts -->
          <span class="form-text text-danger"
            *ngIf="nombreValido()">Debe de ser
            de 3 letras</span>
        </div>
      </div>
      <!-- Campo de precio-->
      <div class="mb-3 row">
        <label for="" class="col-sm-3 col-form-label">Precio</label>
        <div class="col-sm-9">
          <input type="number" class="form-control" placeholder="Precio del producto" name="precio" ngModel min="0" required>
          <span class="form-text text-danger"
            *ngIf="precioValido()">El precio debe ser 0 o mayor</span>
        </div>
      </div>
      <!-- Campo de existencias-->
      <div class="mb-3 row">
        <label for="" class="col-sm-3 col-form-label">Existencias</label>
        <div class="col-sm-9">
          <input type="number" class="form-control" placeholder="Existencias del producto" name="existencias" ngModel required min="0">
          <span class="form-text text-danger"
            *ngIf="existenciaValido()">El dato debe ser 0 o mayor</span>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <button type="submit" class="btn btn-primary float-end" [disabled]="miFormulario.invalid">Insertar</button>
        </div>
      </div>

    </form>
  </div>
</div>
<div class="row">
  <div class="col">
    <span>{{miFormulario.valid}}</span>
    {{miFormulario.value | json}}
  </div>
</div>
