<h2>Reactivos: <small>Dinamicos</small></h2>
<hr>
<form [formGroup]="miFormulario" (ngSubmit)="guardar()">
  <!-- Nombre -->
  <div class="row mb-3">
    <label for="" class="col-sm-3 col-form-label">Nombre</label>
    <div class="col-sm-9">
      <input type="text" class="form-control" placeholder="Nombre de la persona" formControlName="nombre">
      <span class="form-text text-danger" *ngIf="campoNoValido('nombre')">Este campo el obligatorio</span>
    </div>
  </div>
  <!-- agregar -->
  <div class="row mb-3">
    <label for="" class="col-sm-3 col-form-label">Agregar</label>
    <div class="col-sm-9">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Agregar Favorito" [formControl]="nuevoFavorito" (key.enter)="agregarFavorito()">
        <button class="btn btn-outline-primary" type="button" (click)="agregarFavorito()">Agregar</button>
        <span class="form-text text-danger" *ngIf="campoNoValido('favoritos')">Este campo el obligatorio</span>
      </div>
    </div>
  </div>
   <!-- Lista de juegos favoritos -->
   <div class="row mb-3">
    <label for="" class="col-sm-3 col-form-label">Favoritos</label>
    <div class="col-sm-9" formArrayName="favoritos">
      <div class="input-group mb-1" *ngFor="let favorito of favoritosArr.controls; let i = index">
        <input  type="text" class="form-control" required [formControlName]="i">
        <button class="btn btn-outline-danger" type="button" (click)="borrar(i)">Eliminar</button>
        </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <button class="btn btn-primary float-end" type="submit">Guardar</button>
    </div>
  </div>
</form>
<div class="row">
  <div class="col">
    <span>Valid</span>
    <pre>{{miFormulario.valid}}</pre>

    <span>Pristine</span>
    <pre>{{miFormulario.pristine}}</pre>

    <span>Touched</span>
    <pre>{{miFormulario.touched}}</pre>

    <span>Value</span>
    <pre>{{miFormulario.value | json}}</pre>

    <span>Agregar Juego</span>
    <pre>{{nuevoFavorito.valid}}</pre>
    <pre>{{nuevoFavorito.value | json}}</pre>
  </div>
</div>
