<div class="row mt-5">
  <!-- sideMenu -->
  <div class="col-4">
    <app-sidemenu></app-sidemenu>
  </div>
  <!-- se crea el espacio donde se va estar cambiando la ruta -->
  <div class="col">
    <!-- router-oulet sirve para navegar entre las rutas que se crean en el app routing module -->
    <router-outlet></router-outlet>
  </div>
</div>
