<h2>Template: Switches</h2>
<hr>
<form #miFormulario="ngForm">
  <!-- radios -->
  <div class="row mb-3">
    <label class="col-sm-3 col-form-label">Genero</label>
    <div class="col-sm-9">
      <div class="form-check">
        <input class="form-check-input" type="radio" name="radioGenero" id="radioMasculino" value="M" [(ngModel)]="persona.genero" required>
        <label class="form-check-label" for="radioMasculino">
          Masculino
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="radioGenero" id="RadioFemenino" value="F" [(ngModel)]="persona.genero" required>
        <label class="form-check-label" for="RadioFemenino">
          Femenino
        </label>
      </div>
    </div>
  </div>

  <!-- switches -->
  <div class="row mb-3">
    <label class="col-sm-3 col-form-label">Notificaciones</label>
    <div class="col-sm-9">
      <div class="form-check form-switch mt-2">
        <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" name="notificaciones" [(ngModel)]="persona.notificaciones">
        <label class="form-check-label" for="flexSwitchCheckChecked">Quiero recibir Notificaciones</label>
      </div>
    </div>
  </div>

  <!-- check -->
  <div class="row mb-3">
    <label class="col-sm-3 col-form-label"></label>
    <div class="col-sm-9">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" name="terminos" [(ngModel)]="terminos" required>
        <label class="form-check-label" for="flexCheckDefault">
          Termino y Condiciones
        </label>
      </div>
    </div>
  </div>

  <!-- boton -->

  <div class="row">
    <div class="col">
      <button class="btn btn-primary float-end" [disabled]="miFormulario.invalid">Guardar</button>
    </div>
  </div>
</form>

<h5>Valor del formulario</h5>
<pre>{{miFormulario.value | json}}</pre>

<h5>Persona</h5>
<pre>{{persona | json}}</pre>

<h5>Valid</h5>
<pre>{{ miFormulario.valid }}</pre>

<h5>Terminos</h5>
<pre>{{ miFormulario.controls['terminos'].errors | json}}</pre>

<br>
