<h2>Validaciones reactivas</h2>
<hr>
<div class="row">
  <div class="col">
    <form autocomplete="off" [formGroup]="miFormulario" (ngSubmit)="submitFormulario()">
      <!-- Nombre-->
      <div class="row mb-3">
        <label class="col-sm-3 col-form-lable">Nombre*</label>
        <div class="col">
          <input type="text" class="form-control" placeholder="Nombre del usuario" formControlName="nombre">
          <span class="form-text text-danger" *ngIf="campoNoValido('nombre')">
            Debe ser en formato de nombre y apellido
          </span>
        </div>
      </div>
      <!-- Email -->
      <div class="row mb-3">
        <label class="col-sm-3 col-form-lable">Email*</label>
        <div class="col">
          <input type="email" class="form-control" placeholder="Email del usuario" formControlName="email">
          <span class="form-text text-danger" *ngIf="campoNoValido('email')">
            {{emailErrorMsg}}
          </span>
         <!--  <span class="form-text text-danger" *ngIf="emailRequired()">
            El correo es obligatorio
          </span>
          <span class="form-text text-danger" *ngIf="emailFormato()">
            El valor no tiene formato de correo
          </span>
          <span class="form-text text-danger" *ngIf="emailTomado()">
            El correo ya existe
          </span> -->
        </div>
      </div>
      <!-- Username -->
      <div class="row mb-3">
        <label class="col-sm-3 col-form-lable">Username*</label>
        <div class="col">
          <input type="text" class="form-control" placeholder="Username del usuario" formControlName="username">
          <span class="form-text text-danger" *ngIf="campoNoValido('username')">
            El username no puede ser Strider
          </span>
        </div>
      </div>
      <!-- Password -->
      <div class="row mb-3">
        <label class="col-sm-3 col-form-lable">Password*</label>
        <div class="col">
          <input type="password" class="form-control" placeholder="Password de su cuenta" formControlName="password">
          <span class="form-text text-danger" *ngIf="campoNoValido('password')">
            La contraseña debe ser mayor de 6 caracteres
          </span>
        </div>
      </div>
      <!-- Password 2-->
      <div class="row mb-3">
        <label class="col-sm-3 col-form-lable">Confirmar Password*</label>
        <div class="col">
          <input type="password" class="form-control" placeholder="Confirmar la contraseña" formControlName="password2">
          <span class="form-text text-danger" *ngIf="campoNoValido('password2')">
            Las contraseñas deben ser iguales
          </span>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <button class="btn btn-primary float-end" [disabled]="miFormulario.pending">Crear</button>
        </div>
      </div>
    </form>
  </div>
</div>

<h2>Form Valida: {{miFormulario.valid}}</h2>


<h2>Form Errors: {{miFormulario.errors | json}}</h2>

<h2>Form status: {{miFormulario.status | json}}</h2>


<h2>Nombre</h2>
<pre>{{miFormulario.controls['nombre'].errors | json}}</pre>

<h2>Email</h2>
<pre>{{miFormulario.controls['email'].errors | json}}</pre>


<h2>Username</h2>
<pre>{{miFormulario.controls['username'].errors | json}}</pre>

<h2>Password</h2>
<pre>{{miFormulario.controls['password'].errors | json}}</pre>

<h2>Password2</h2>
<pre>{{miFormulario.controls['password2'].errors | json}}</pre>
